{% extends 'base.html.twig' %}

{% block title %}Détails du Produit: {{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
    <p>Prix: {{ product.price|number_format(2) }} {{ product.price.currency }}</p>
    <p>{{ product.description }}</p>

    <form action="{{ path('cart_add') }}" method="POST">
        <input type="hidden" name="productId" value="{{ product.id }}">
        <input type="hidden" name="productType" value="{{ product.type }}">
        <input type="number" name="quantity" value="1" min="1" max="10" required>
        <button type="submit">Ajouter au Panier</button>
    </form>

    <a href="{{ path('products') }}">Retour à la Liste des Produits</a>
{% endblock %}
